body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

div {
    border: 1px solid blue;
    margin: 20px;
    width: 85%;
}

img {
    width: 20%;
    padding: 20px;
    border: 1px solid #333;
    margin: 1em;
    background-color: aliceblue;
}