body>div {
    background-color: #eee;
    border: 20px solid gray;
    height: 800px;
    width: 800px;
    margin: 2em auto;
}

div>div {
    height: 50%;
    width: 50%;
}

div>div:first-child {
    background-color: #f66;
}

div>div:last-child {
    background-color: #69f;
    margin-left: auto;
}